@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

#all-pokemon {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  padding: auto;
}

span {
  color: black;
  text-align: center;
  min-width: 80px;
  border: 1px solid rgb(1, 1, 214);
  padding: 0px 2px 0px 2px;
  border-radius: 2px;
  margin: 4px;
  /* font-family: "Flexo-Medium", arial, sans-serif; */
  font-family: "Sigmar One", cursive;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  /* margin: 0 1.5625% 0 0; */

  text-transform: none;
  font-size: 14px;
}

h3 {
  color: white;
  font-family: "Sigmar One", cursive;
  margin: 0;
  margin-bottom: 4px;
  text-shadow: 3px 3px 5px #cc0000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  letter-spacing: 1px;
}

img {
  border: 5px solid #b3a125;
  padding: 30px;
  background: linear-gradient(128deg, #cc0000 50%, white 50%);
  /* margin: 10px; */
  height: 200px;
  width: 150px;
}

.card {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

img:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: white;
  transform: skew(-30deg);
  transform-origin: top;
}

img:hover {
  border: none;
  /* border: 5px solid black; */
  opacity: 80%;
  background-color: red;
  background: url("../img/Poke_Ball.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 225px;
  width: 175px;
}

img:active {
  border: none;
  /* border: 5px solid black; */
  opacity: 70%;
  background-color: red;
  background: url("../img/open-pokeball.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  height: 225px;
  width: 175px;
}

/* Damage type classes */

.bug {
  background-color: #729f40;
  border: 3px solid rgb(24, 168, 24);
}

.dark {
    background-color: #707070;
    border: 3px solid #5f5f5f;;
}
.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: #fff;
  border: 3px solid blue;
}

.electric {
  background-color: #eed535;
  border: 3px solid #cfba2d;
}

.fairy {
  background-color: #fdb9e9;
  border: 3px solid #fa96dc;;
}

.fighting {
  background-color: #d56722;
  border: 3px solid #bd5b1e;;
}

.fire {
  background-color: #fd7d25;
  border: 3px solid #dd6b1f;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: #212121;
  border: 3px solid #35acce;
}

.ghost {
  background-color: #7c62a3;
  border: 3px solid #664f88;
}
.grass {
  background: #9bcb50 !important;
  border: 3px solid rgb(24, 168, 24);
  
}

.ice {
  background-color: #50c4e7;
  border: 3px solid #42a1be;
}

.normal {
  background-color: #a5acaf;
  border: 3px solid #878c8f;
}
.poison {
  background-color: #ba7fc9;
  border: 3px solid #90609c;
}

.psychic {
  background-color: #f365b8;
  border: 3px solid #be4e8f;
}

.rock {
  background-color: #a38c22;
  border: 3px solid #8f7a1f;
}

.water {
  background: #4592c4;
  border: 3px solid #3c7da8;
}
