@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

#all-pokemon {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  padding: auto;
}

span {
  color: black;
  text-align: center;
  min-width: 80px;
  /* background: blue; */
  border: 1px solid rgb(1, 1, 214);
  padding: 4px;
  border-radius: 2px;
  margin: 2px;

  /* ------------------------ */

  font-family: "Flexo-Medium", arial, sans-serif;
  border-radius: 3px;
  line-height: 18px;
  max-width: 110px;
  margin: 0 1.5625% 0 0;
  width: 38.4375%;
  text-transform: none;
  font-size: 14px;
}

h3 {
  color: white;
  font-family: "Sigmar One", cursive;
  margin: 0;
  text-shadow: 3px 3px 5px #cc0000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  letter-spacing: 1px;
}

img {
  border: 5px solid #b3a125;
  padding: 30px;
  background: linear-gradient(128deg, #cc0000 50%, white 50%);
  /* margin: 10px; */
  height: 200px;
  width: 150px;
}

.card {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

img:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: white;
  transform: skew(-30deg);
  transform-origin: top;
}

img:hover {
  border: none;
  /* border: 5px solid black; */
  opacity: 80%;
  background-color: red;
  background: url("../img/Poke_Ball.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 225px;
  width: 175px;
}

img:active {
  border: none;
  /* border: 5px solid black; */
  opacity: 70%;
  background-color: red;
  background: url("../img/open-pokeball.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  height: 225px;
  width: 175px;
}

.grass {
  background: #9bcb50 !important;
  border: 3px solid rgb(24, 168, 24);
}

.poison {
}

.fire {
}

.flying {
}

.bug {
}

.normal {
  background-color: #a5acaf;
}

.electric {
}

.fairy {
  background-color: #fdb9e9;
}

.water {
}

.fighting {
}

.psychic {
}

.ghost {
}

.ice {
}

.rock {
}

.dragon {
}

.dark {
}
