img {
    border: 5px solid #b3a125;
    padding: 30px;
    background: linear-gradient(135deg, #cc0000 50%, white 50%);
    margin: 10px;
    height: 150px;
    width: 150px;
}

img:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background: white;
    transform: skew(-30deg);
    transform-origin:top;
  }

img:hover {
    border: none;
    /* border: 5px solid black; */
    opacity: 50%;
    background-color: red;
    background: url("../img/Poke_Ball.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 175px;
    width: 175px;
}

img:active {
    border: none;
    /* border: 5px solid black; */
    opacity: 50%;
    background-color: red;
    background: url("../img/open-pokeball.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    height: 175px;
    width: 175px;
}